@import-normalize;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffdf8c;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  width: 10px;
  background: #fe5f1e;
  border-radius: 15px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  background-color: #fff;
  border-radius: 10px;
  min-height: calc(100vh - 100px);
  padding: 40px 20px;
  margin: 50px auto;
  width: calc(100vw - 100px);
}

.container {
  max-width: 1250px;
  min-height: calc(100vh - 180px);
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
}
